# Data
data/
autism_unified_kfold/
**/*.zip

# Outputs / checkpoints
saved_models/
outputs/
runs/
wandb/

# Python
__pycache__/
*.pyc
.venv/
venv/

# OS
.DS_Store
Thumbs.db

# Notebooks
.ipynb_checkpoints/

data/
autism_unified_kfold/
saved_models/
outputs/
__pycache__/
.ipynb_checkpoints/
